<!DOCTYPE html>

<html>

<head>
	<title>Thêm nhân viên</title>
	
	<meta charset="utf-8" />
	
	<link rel="stylesheet" href="/static/style.css" type="text/css" media="all" />
</head>

<body>

	<h2>Thêm nhân viên</h2>
	
	<form class="form" method="POST">
		
		<p class="hoten">
			<input type="text" name="hoten" id="hoten" placeholder="" />
			<label for="hoten">Họ tên</label>
		</p>
		
		<p class="mathe">
			<input type="text" name="mathe" id="mathe" placeholder="" />
			<label for="mathe">Mã thẻ</label>
		</p>
		
		<p class="ngaysinh">
			<input type="text" name="ngaysinh" id="ngaysinh" placeholder="13-12-1996" />
			<label for="ngaysinh">Ngày sinh</label>
		</p>		
	
		<p class="submit">
			<input type="submit" value="Thêm" />
		</p>
	</form>

</body>

</html>

